body{
    margin: 0;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 120px;
    box-shadow:   8px 8px 16px #c5c5c5,
    -8px -8px 16px #ffffff;
    background: linear-gradient(to right, #ff0000, #ffffff);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.d_none{
    display: none;
}

.pokecard {
    width: 200px;
    height: 250px;
    box-shadow:   8px 8px 16px #c5c5c5,
    -8px -8px 16px #ffffff;
    background: linear-gradient(to right, #ff0000, #ffffff);
    padding: 20px;
    color: #fff;
    border-radius: 50px 50px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.pokecard:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

.pokeball {
    display: flex;
    align-items: center;
    gap: 20px;
}
#pokeball_img {
    width: 50px;
    height: 50px;
}

#content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container_img_type{
    display: flex;
    flex-direction: row;
}

#container_types{
    display: flex;
    flex-direction: column;
    
}

